* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;

}

.container {
    width: 1296px;
    margin: 0 auto;
}

.main_bachground_color {
    background-color: #0F8277;
}

.main_text_color {
    color: #0F8277;
    font-weight: 700;
}

.header {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}


.header_logo a {
    text-decoration: none;
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.02em;

}

.nav_header, .nav_list, .loging_list{
    display: flex;
}

.nav_list, .loging_list {
    list-style: none;
}

.loging_list a, .nav_list a{
    text-decoration: none;
   
}


.explore_button {
    color: #EEEEEE;
    border: #0F8277;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;

}


.explore_button::after {
    content: '';
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 1px;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg); /* Повертає стрілку */
    margin-left: 5px; /* Відступ зліва */
    margin-bottom: 1px;
    

}

.search_block {
    display: flex;
    align-items: center;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
}

.search_input {
    width: 253px;
    padding: 8px;
    border: none;
}

.search_input:focus {
    outline: none;
    border: none;
}
.search_button {
    padding: 7px;
    border: none;
    cursor: pointer;
}

.nav_header {
    gap: 104px;
}

.nav_list {
    gap: 48px;
    font-size: 16px;
    line-height: 19.2px;
  
}

.nav_list a {
    color: #000000;
}

.loging_list {
    gap: 16px;
}

.login_link {
    padding: 10px;

}
.sing_up_link {
    color: #EEEEEE;
    padding: 10px;
    border-radius: 4px;
}

/* Start img  */

.start_img {
    display: flex;
    margin-top: 31px;
    background-color: #DBF3ED;
    border-radius: 12px;
}
.start_img_text_container {
width: 50%;
   margin-top: 170px;
   margin-left: 110px;
}

.start_img_title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;

}
.start_img_subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    margin-top: 32px;
    padding-right: 60px;
}

.start_img_list {
    display: flex;
    margin-top: 42px;
    list-style: none;
    gap: 24px;
}

.start_img_list a {
    text-decoration: none;
}

.start_learning_link {
    color: #EEEEEE;
    padding: 10px 12px;
    border-radius: 4px;
}

.learning_more_link {
    padding: 10px 12px;
    border: 2px solid #0F8277;
    border-radius: 4px;

}

.start_img_photo_container {
    width: 50%;
    padding: 39px 54px 30px 54px;
}

/* Next section  */

.program_title {
    margin-top: 80px;
}

.program_subtitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 12px;

}

.program_description {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 12px;

}

.program_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 40px;
}

.program_grid_item {
    border: 1px solid #DADADA;
    border-radius: 8px;
    color: #000000;
    text-decoration: none;

}

.program_grid_item img {
    border-radius: 8px 8px 0px 0px;

}

.program_grid_item_img {
    width: 100%;
}

.program_grid_item_title_container {
    display: flex;
    align-items: center;
    margin-top: 28px;
    margin-left: 16px;


}

.program_grid_item_title {
    font-size: 16px;
    line-height: 19.2px;
    margin-left: 3%;
    

}


.program_grid_item_description {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin-top: 16px;
    margin-left: 16px;

}

.program_grid_item_mark {
    font-size: 16px;
    line-height: 19.2px;
    margin-left: 16px;
    margin-top: 82px;
    margin-bottom: 24px;
}




.program_grid_item_mark_3 {
    font-size: 16px;
    line-height: 19.2px;
    margin-left: 16px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.program_grid_item_mark::before, .program_grid_item_mark_3::before{
    content: '';
    background-image: url(/images/dimploma_mark.svg);
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Next section */

.courses_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 80px;
}

.courses_subtitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 12px;

}

.courses_description {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 12px;
}

.courses_grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    gap: 24px;
}

.courses_grid_item {
    border: 1px solid #DADADA;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
}

.courses_grid_item img {
    border-radius: 8px 8px 0px 0px;
}

.courses_grid_title_container {
    display: flex;
    margin-left: 16px;
    align-items: center;
    margin-top: 24px;
}

.courses_grid_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-left: 16px;

}

.course_grid_description {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin-top: 16px;
    margin-left: 16px;

}



.courses_grid_item_link {
    margin-top: 86px;
    margin-bottom: 24px;
    margin-left: 16px;


}

.courses_grid_item_link_odd {
    margin-top: 57px;
    margin-bottom: 24px;
    margin-left: 16px;

    
}

.courses_more_link {
    margin-top: 43px;
    text-align: center;
}

.courses_more_link a{
    text-decoration: none;
}

.courses_more_link p::after{
    content: "";
    background-image: url(/images/a\ narrow.svg);
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 18px;
}

/* Next section */

.topics_title {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

}

.topics_grid_container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.topics_grid_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;

}

.topics_grid_subtitle {
    margin-top: 32px;

}

.topics_grid_subtitle a {
    text-decoration: none;
    color: #0F8277;
}

.tipic_grid_description {
    font-size: 16px;
    line-height: 19.2px;
    margin-top: 10px;

}

/* Next section */

.partners {
    background-color: #DBF3ED;
}

.partners_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 80px;
    padding-top: 80px;
    margin-right: 268px;
    margin-left: 268px;
}

.partners_logo_list {
    margin-top: 60px;
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

/* Next section */

.business {
    display: flex;
    margin-top: 80px;
}

.business_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 66px;

}

.business_description {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    margin-top: 32px;
    padding-right: 68px;

}

.business_text, .business_logos {
    width: 50%;
}

.business_btn {
    margin-top: 32px;
    border: #0F8277;
    border-radius: 4px;
    color: #EEEEEE;
    padding: 10px 12px;
    cursor: pointer;
}

.business_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.business_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 140px;
   

}

.busleness_grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 136px;
    width: 196px;
    border-bottom: 1px solid #BABABA;
    border-right:  1px solid #BABABA;

}


.busleness_grid_item:nth-child(6), .busleness_grid_item:nth-child(3), .busleness_grid_item:last-child{
    border-right: none;
}


.busleness_grid_item:nth-child(7), .busleness_grid_item:nth-child(8), .busleness_grid_item:last-child{
    border-bottom: none;
}


/* Next section */

.plans {
    background-color: #DBF3ED;
    margin-top: 70px;
    padding-bottom: 100px;
}

.plans_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding-top: 80px;

}

.plans_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 24px;
}

.plans_grid_item:not(:nth-child(2)) {
    background-color: #FDFDFD;
}

.plans_grid_item {
    border-radius: 24px;
    border: 1px solid #0F8277;
    position: relative;

}

.plans_grid_item:nth-child(2){
    color: #FFFFFF;
}

.plans_grid_item_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    margin-top: 56px;
    margin-right: 56px;
    margin-left: 56px;

}

.plans_grid_item_description {
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    margin: 27px 56px 0 56px;
}

.plans_grid_item_price {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 27px;
    position: relative;
}

.plans_grid_item_price span{
    font-size: 16px;
    line-height: 19.2px;
    text-transform: uppercase;

}

.plans_grid_item:nth-child(2) .plans_grid_item_price::after {
    background-color: #FFFFFF;   
    top: 197px;
}

.plans_grid_item:nth-child(3) .plans_grid_item_price::after {
    top: 216px;
}

.plans_grid_item_price::after{
    content: "";
    width: 304px;
    height: 2px;
    top: 245px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #008080;
}




.plans_grid_item_list {
    margin-left: 56px;
    margin-bottom: 56px;
    list-style: none;
}

.plans_grid_item:nth-child(1) .plans_grid_item_list {
    margin-top: 236px;
}

.plans_grid_item:nth-child(2) .plans_grid_item_list {
    margin-top: 196px;
}

.plans_grid_item:nth-child(3) .plans_grid_item_list {
    margin-top: 206px;
}
.plans_grid_item_list_item {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-top: 16px;
    margin-right: 70px;
    position: relative;
    padding-left: 30px;

}

.plans_grid_item_list_item::before{
    content: '\2714'; 
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #008080; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    font-size: 14px; /* Розмір галочки */
}


.plans_grid_item:nth-child(2) .plans_grid_item_list_item::before{
    color: #008080;
    background-color: #FFFFFF;
    top: 15%;
} 

.plans_grid_item_link {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-decoration: none;
    color: #F6FDFF;
    padding: 10px 12px 10px 12px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

/* Next section */

.students_photo_title {
    margin-top: 80px;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

}

.students_photo_grid_container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas: "photo_1 photo_2 photo_2 photo_3"
                        "photo_4 photo_2 photo_2 photo_5"
                        "photo_6 photo_7 photo_8 photo_9";
}

.students_photo_grid_item:nth-child(1) {
    grid-area: photo_1;
}

.students_photo_grid_item:nth-child(2) {
    grid-area: photo_2;
}

.students_photo_grid_item:nth-child(3) {
    grid-area: photo_3;
}

.students_photo_grid_item:nth-child(4) {
    grid-area: photo_4;
}


.students_photo_grid_item:nth-child(5) {
    grid-area: photo_5;
}


.students_photo_grid_item:nth-child(6) {
    grid-area: photo_6;
}

.students_photo_grid_item:nth-child(7) {
    grid-area: photo_7;
}

.students_photo_grid_item:nth-child(8) {
    grid-area: photo_8;
}
.students_photo_grid_item:nth-child(9) {
    grid-area: photo_9;
}

/* Next section */

.section_form {
    margin-top: 77px;
    background-image: url(/images/form_background.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.section_form::before{
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 60%;


}

.section_form_container {
    background-color: #DBF3ED;
    position: relative;
    z-index: 999;
    top: 50%;
    left: 50%;
    border-radius: 24px;
    transform: translate(-50%, -50%); 
    max-width: 565px;
    
}

.section_form_title {
    padding-top: 30px;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

}

.section_form_description {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;

}

.selection_form_body {
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-gap: 1rem;
}
.section_form_labels {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    
}

.section_form_labels input {
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    border: 1px solid #0F8277;
    border-radius: 4px;
    color: #8E8E8E;
}

#user_text {
    padding-bottom: 70px;
}

.secton_form_btn {
    width: 25%;
    padding: 10px;
    border: 1px solid #008080;
    border-radius: 4px;
    color: #F6FDFF;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;

}

.footer {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    
}

.footer_descrirtion {
    font-size: 16px;
    line-height: 19.2px;
    margin-top: 16px;
    width: 300px;
    
}
.footer_icons_list {
    display: flex;
    justify-content: end;
    gap: 24px;
    list-style: none;
}

.footer_icons_item {
    padding: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.footer_icons_item.insta {
    background-image: url(/images/insta.svg);

}

.footer_icons_item.fb {
    background-image: url(/images/fb.svg);

}

.footer_icons_item.linkedin{
    background-image: url(/images/linkedin.png);

}

.footer_copy_rights {
    margin-top: 70px;
    font-size: 16px;
    line-height: 19.2px;
    text-align: right;

}
